body {
 background-image: url("https://opengameart.org/sites/default/files/living-tissue-background-preview-HD.png");
 display: flex;
 align-items: center;
}

#title {
	font-size: 14pt;
}

.date {
	border-bottom: 2px blue dashed
}
.main {
 	margin-left: 10%;
 	margin-right: 10%;

	background-color: white;
	border: 10px white solid
}
.title {
	text-align: right;
	background-color: #A8F0F0;
}
.article {
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	background-color: #E8FBFB;
	border: 4px #C2E9E9 solid;
	overflow: auto;
}

img {
	float: right;
}